
  <div class="footer-copyright green darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h5>About Us</h5>
        <p>GWD Code Club is a platform where children can uptimize their potencial and size opportunity, onnovation coding/programming brings to the development of our society and educational development</p>
        <p>
          Our goal for this program is to create an avenue (platform) that will continue to promote our children educational development by equipping them with requiste skills and career preparation. this program which is 90% practical computational thinking, creativity and thinking fluidity, and it will improve academic performance.
        </p>
      </div>
      <div class="col s12 l4 offset-l2">
        <section>
            <div class="container">
              <h5>Newsletter</h5>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s3">
                      <a class="btn  red lighten-1"><span>Subscribe</span></a>
                    </div>
                    <div class="input-field col s9">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                  </div>
                </form>                       
            </div>
        </section>
      </div>
    </div>
  </div>

  </div>
  {% block footer %}
  <div class="container center-align">
    &copy; Copyright 2019 by GWD Concept<a href="http://gwdconcept.com.ng/"></a>.
  </div>
  {% endblock %}